body{
  background-color: rgba(185, 9, 9, 0.952);
}

.App {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.App ul{
  text-align: left;
}

ul li{
  list-style: none;
  padding: 5px;
  margin: 1px;
  font-weight: 900;
  color: white;
}

button{
  font-weight: 900;
  color: rgba(185, 9, 9, 0.952);
}

ul {
  overflow-y: scroll;
  max-height: 90vh;
  background-repeat: no-repeat;
  background-position-x: center;
  background-image: url('./6480919_preview.png');
}
